html {
  scroll-behavior: smooth;
}

/* body{
  margin: 0;
  padding: 0;
} */

a {
  font-weight: bold;
}

#section1 {
  margin-top: 0;
  height: 700px;
  display: inline-block;
  width: 100%;
}

#section2 {
  height: 700px;
  display: inline-block;
  width: 100%;
}

#section3 {
  height: 700px;
  display: inline-block;
  width: 100%;
}

#section4 {
  height: 700px;
  display: inline-block;
  width: 100%;
}

#section5 {
  height: 700px;
  display: inline-block;
  width: 100%;
}

#section4 h1 {
  color: #f6f5f5;
}

#section6 {
  height: 700px;
  background: #f6f5f5;
  display: inline-block;
  width: 100%;
}

h1 {
  margin: 100px;
  text-align: center;
  padding: 0%;
}

p {
  color: black;
  text-align: center;
}
/* contact form css */

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type='text']:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type='text'].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type='text'].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.footer {
  text-align: center;
}
